.solid
{
    border-style: solid;
}
.dotted
{
    border-style: dotted;
}
.dashed
{
    border-style: dashed;
}
.double
{
    border-style: double;
}
.groove
{
    border-style: groove;
}
.ridge
{
    border-style: ridge;
}
.inset
{
    border-style: inset;
}
.outset
{
    border-style: outset;
}
.none
{
    border-style: none;
}
.hidden
{
    border-style: hidden;
}
.tamanho1
{
    border-style: solid;
    border-width: 5px;/*expessura de borda*/
}
.tamanho2
{
    border-style: dotted;
    border-width: 5px;
}
.vermelho
{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
.cores
{
    border-style: solid;
    border-color: red;
    border-bottom-color: purple;
    border-left-color: blue;
    border-right-color: darkgreen;
}
.insetcores
{
    border-style: inset;
    border-color: red green blue yellow;/*vermelha topo; verde direito; azul em baixo; amarelo lado esquerdo*/
}
.abreviada
{
    border: 5px groove red;
    border-radius: ;
}